{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
  <h2>Добро пожаловать на защищенную страницу!</h2>
  <h3>Эта страница доступна только авторизованным пользователям. Выберите действие</h3>
  <div class="mt-4">
    <a href="{{ url_for('add_transaction') }}" class="btn btn-primary btn-lg mr-2">Добавить транзакцию</a>
    <a href="{{ url_for('view_transactions') }}" class="btn btn-secondary btn-lg mr-2">Просмотр транзакций</a>
    <a href="{{ url_for('report') }}" class="btn btn-success btn-lg">Формирование отчета</a>
  </div>
{% endblock %}
